<!doctype html>
<html>

<head>
    <title>Choice</title>
</head>
<body>
<center>
<h1>Kindly choose your operation!</h1>
    <form method="GET" action="addnew"><input type="submit" value="Add user"></form><br><br><br><br><br>
    <form method="GET" action="update"><input type="submit" value="Update"></form><br><br><br><br><br>
    <form method="GET" action="read"><input type="submit" value="Read"></form><br><br><br><br><br>
    <form method="GET" action="delete"><input type="submit" value="Delete"></form>
</center>

</body>

</html>

