<!doctype html>
<html>
<head>
    <title>Select</title>
</head>
<body>
<center><h1>Select the feild to Update</h1></center><br><br><br><br><br>
<center><select action="update">
    <option value="ename">Name</option>
    <option value="addr">Address</option>
    <option value="pin">Pincode</option>
    <option value="mn">Mobile No.</option>
    <option value="salary">Salary</option>
    <option value="all">All</option>
    <br><br><br>

    <input type="submit">

</select></center>
</body>
</html>