<!doctype html>
<html>
<head>
    <title>Updating</title>
</head>
<body><center>
<h1>Enter your information!</h1>
    <h2>Please enter your name correctly!</h2>

<form method="POST" action="updating">
    <table>
    <tr><td>Name</td><td><input type="text" name="ename" required></td></tr>
    <tr><td>Address</td><td><input type="text" name="addr" required></td></tr>
    <tr><td>Pin</td><td><input type="text" name="pin" required></td></tr>
    <tr><td>Mob. No.</td><td><input type="text" name="mn" required></td></tr>
        <tr><td>Salary</td><td><input type="text" name="sal" required></td></tr>
    </table>
    <input type="submit" value="Submit">
</form>
</center>
</body>
</html>